* {
    font-family: Tahoma;
    border: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.header {
    padding-top: 77px;
    padding-bottom: 96px;
}

.header-text__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;
}

.header-text__subtitle {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 35px;
}

.header-text__descr {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 47px;
}

.header-text__price {
    color: #313131;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 53px;
}

.button {
    margin-right: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f05a22;
    border: 2px solid transparent;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
    padding: 22px 44px;
    cursor: pointer;
}

.button-o {
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid #f05a22;
    padding: 22px 30px;
    color: #f05a22;
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
}

.features {
    background-color: #f2f2f2;
    text-align: center;
}

.features-subtitle {
    padding-top: 89px;
    padding-bottom: 91px;
    font-size: 30px;
    font-weight: 700;
    line-height: 27px;
}

.features-container {
    padding-bottom: 103px;
}

.features-container__features-img {
    min-height: 55px;
}

.features-container__features-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.footer-subtitle {
    padding-top: 89px;
    padding-bottom: 69px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 27px;
}

.footer-img img {
    width: 100%;
    padding-bottom: 40px;
}
